<% layout ("/layouts/boilerplate.ejs") -%>
<body>
  <br>
  <h1>Create a New listing</h1>
  <form action="/listing" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

    <div class="row">
      <div class="col-8 offset-2">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" name="listing[title]" placeholder=" Add a catchy title" id="title" class="form-control" required>

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    
   <div class="mb-3">
    <label for="description" class="form-label"> Description:</label>
    <textarea name="listing[description]" placeholder="description"  id="description" class="form-control" required></textarea>
    <div class="invalid-feedback">
      Please give proper description.
    </div>
   </div>

    <div class="mb-3">
      <label for="image" class="form-label"> Image:</label>
      <input type="file" name="listing[image]" id="image" class="form-control" >
    </div>
   
   <div class="row">
    <div class="mb-3 col-4">
      <label for="price" class="form-label"> Price:</label>
      <input  name="listing[price]" placeholder=" Enter price" id="price" class="form-control" required>
      <div class="invalid-feedback">
        Please provide valid price.
      </div>
    </div>
   
    <div class="mb-3 col-8">
      <label for="country" class="form-label"> Country:</label>
      <input type="text" name="listing[country]" placeholder=" Enter country name" id="country" class="form-control" required>
      <div class="invalid-feedback">
        Please give valid country name.
      </div>
    </div>

  </div>

    <div class="mb-3">
      <label for="location" class="form-label"> Location:</label>
      <input type="text" name="listing[location]" placeholder=" Enter location" class="form-control" id="location" required>
      <div class="invalid-feedback">
        Please make sure right location.
      </div>
    </div>
   
    
    <br>
    <button class="btn btn-dark">submit</button>
    <br><br>
  </form>

</div>
</div>
</body>

